<!DOCTYPE html>
<html>
	<head>
			<link rel="shortcut icon" type="image/ico" href="images/favicon.ico" />
    <meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>GoTeamDHS</title>
		<link rel="stylesheet" href="css/reset.css" />
		<link rel="stylesheet" href="css/eventpage.css" />
		<link href='http://fonts.googleapis.com/css?family=PT+Sans:700,400|Roboto+Slab:700,400|Merriweather+Sans:400,800' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<article>
			<header>
				<img src="images/music.png" alt="Go" height="70px">
				<img src="images/dhslogo.png" alt="Team" height="70px">
				<img src="images/balls.jpg" alt="DHS	 " height="70px"><br><br>
				<h1>GoTeamDHS</h1>

				<br>
				<div align="right">
			    <a id="login" href="{{ url|safe }}">{{ url_linktext }}</a>
				</div>
				<form method="post" id="contact-form" action="/eventsearch">
						<input type="text" name="search_value" placeholder="Search an Event" required/>
						<div>
						<input type="submit" value="Search" />
					</div>
				</form>

			</header>
			<br/>
			<br/>
			<section>
				<center>

				<br/><br/>
                            {% if flocations %}
                            <h3>EVENTS</h3>
                            {% else %}
                            <h3>No results found</h3>
                            {% endif %}
                      <center>
                {% autoescape true %}
                {% for flocation in flocations %}
                  <div id="post">
                  <img src="/fimage?fimg={{ flocation.key.urlsafe() }}" id="fimage" onerror='this.style.display="none"'/></img><br><br>
                  <blockquote><h2>{{ flocation.fnplace }}</h2></blockquote><br>
                  <blockquote><h4>Address:</h4> {{ flocation.fcontent }}</blockquote>
                  <blockquote><h4>Description:</h4> {{ flocation.fdescription }}</blockquote>

                  <br>
                  <p>{% if flocation.person %}
                    uploaded by
                    <b>{{ flocation.person.email }}
          {% if user and user.user_id() == flocation.person.identity %}
            (You)
          {% endif %}
                    </b>
                    {% endif %}
                  <br> {{flocation.date}}</p><br>
                  <div class="rw-ui-container"></div>
                  {% if user and user.user_id() == flocation.person.identity %}
                    <form action="/deletestudylocation?id={{ flocation.key.id() }}" method ="post">


                    <button onclick="confirmDelete()">Delete this post</button>
                    </form>
                  {% endif %}
                    <form action="/studylocation?id={{ flocation.key.id() }}" method="post">
                      <br>
                    </form>
                  </div>
                {% endfor %}
              {% endautoescape %}

    			</center>
				<br/><br/>
				<a id="back" href="/">Back to home page</a>
			</section>
		</article>

	</body>
</html>
