<!DOCTYPE html>
<html>
	<head>
			<link rel="shortcut icon" type="image/ico" href="images/favicon.ico" />
    <meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>GoTeamDHS</title>
		<link rel="stylesheet" href="css/reset.css" />
		<link rel="stylesheet" href="css/teampage.css" />
		<link href='http://fonts.googleapis.com/css?family=PT+Sans:700,400|Roboto+Slab:700,400|Merriweather+Sans:400,800' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<article>
			<header>
				<img src="images/music.png" alt="Go" height="70px">
				<img src="images/dhslogo.png" alt="Team" height="70px">
				<img src="images/balls.jpg" alt="DHS	 " height="70px"><br><br>
				<h1>GoTeamDHS</h1>

				<br>
				<div align="right">
			    <a id="login" href="{{ url|safe }}">{{ url_linktext }}</a>
				</div>
				<form method="post" id="contact-form" action="/eventsearch">
						<input type="text" name="search_value" placeholder="Search an Event" required/>
						<div>
						<input type="submit" value="Search" />
					</div>
				</form>
				
			</header>
			<br/>
			<br/>
			<section>
				<center>
				<h3>Teams participants</h3>
				
				<br/><br/>
			
	{% autoescape true %}
    {% for nflocation in nflocations %}
      <div id="post">
      <img src="/nfimage?nfimg={{ nflocation.key.urlsafe() }}" id="nfimage" onerror='this.style.display="none"'/></img><br>
      <blockquote><h2>{{ nflocation.nnplace }}</h2></blockquote>
      <blockquote><h4>Division/Year:</h4> {{ nflocation.nfcontent }}</blockquote>
      <blockquote><h4>Team members:</h4> {{ nflocation.nfdescription }}</blockquote>     
      <br>
      <p>{% if nflocation.person %}
      	uploaded by
        <b>{{ nflocation.person.email }}
          {% if user and user.user_id() == nflocation.person.identity %}
            (You)
          {% endif %}
        </b>
      {% else %}
       suggested by an anonymous person
      {% endif %}
      <br> {{nflocation.date}}</p><br>
      {% if user and user.user_id() == nflocation.person.identity %}
      	<form action="/deletenonfoodpost?id={{ nflocation.key.id() }}" method ="post">
      	<input type ="submit" value ="Delete this post">
      	</form> 
      {% endif %}
      </div>
    {% endfor %}
    {% endautoescape %}
    	
    			</center>
				<br/><br/>
				<a id="back" href="/">Back to home page</a>
			</section>
		</article>
		<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-59562971-2', 'auto');
  ga('send', 'pageview');

		</script>
	</body>
</html>
